@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Category>

<div class="row mb-3">
    <div class="col-6">
        <h1>Categories</h1>
    </div>
    <div class="col-6 text-end">
        <a asp-controller="Category" asp-action="Create" class="btn btn-dark">
            <i class="bi bi-plus-circle"></i>
            Create Category
        </a>
    </div>
</div>

<partial name="_Notifications" />

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Display order</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.OrderBy(c => c.DisplayOrder))
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.DisplayOrder</td>
                <td>
                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-dark">
                        <i class="bi bi-pencil-square"></i>
                        Edit
                    </a>
                    <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger">
                        <i class="bi bi-trash-fill"></i>
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

